*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.AboutUs-container{
    display: flex;
    background-color: #AAE290;
    height: 75vh;
    width: 50vw;
    border-radius: 8px;
    text-align: center;
    margin-top: 10vh;
    margin-left: 26vw;
    margin-bottom: 10vh;
}
.au-container{
    display: flex;
    background-color: white;
    height: 55vh;
    width: 40vw;
    border-radius: 8px;
    text-align: center;
    margin-top: 10vh;
    margin-left: 5vw;
    
}
.info{
    margin-top: 8vh; 
}
.signUpbtn{
    height: 4vh;
    width: 11vh;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 65vw;
}