*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: black;
    height: 100px;
}
.title{
  text-decoration: none;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;   
}

.signupform {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .signupform label {
    font-weight: bold;
  }
  
  .signupform input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signupform input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .signupform input[type="submit"]:hover {
    background-color: #45a049;
  }
  


.signup-btn{
    height: 5vh;
    width: 6vw;
    border-radius: 8px;
    margin-left: 6vw;
    font-weight: bolder;
  }
  .aboutUs-btn{
    height: 4vh;
    width: 15vh;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 2vw;
}